.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 12px 4px 4px 16px;
  background-color: white;
  color: black;
  margin: 0px;
}

.header__logo {
  cursor: pointer;
}

.header__logo .MuiSvgIcon-root {
  color: #e60023;
  font-size: 32px;
  cursor: pointer;
}

.header__button {
  display: flex;
  height: 48px;
  min-width: 123px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
}

.homePage > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.following {
  background-color: white;
}

.following:hover {
  background-color: #e1e1e1;
}
.following > a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.header__search {
  flex: 1;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #efefef;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
}

.header__searchContainer:hover {
  background-color: #e2e2e2;
}

.header__searchContainer > .MuiSvgIcon-root {
  color: #767676;
}

.header__searchContainer > form {
  flex: 1;
  display: flex;
}

.header__searchContainer > form > input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  font-size: 16px;
}

.header__searchContainer > form > input:focus {
  outline: none;
}
.header__searchContainer > form > input:active {
  outline: none;
}

.header__searchContainer > form > input:hover {
  outline: none;
}

.header__searchContainer > form > button {
  display: none;
}

.header__menuItems {
  display: flex;
  align-items: center;
}

.header__menuItems > .MuiIconButton-root {
  align-items: center;
  padding: 10px;
}

.header__menuItems .MuiSvgIcon-root {
  padding: 0px;
  cursor: pointer;
  font-size: 28px;
}

.header__menuItems > .MuiIconButton-root:active {
  /* // adding border lifts up the icon  */
  border: 4px solid 93c4ff;
}

.header__notification {
  position: relative;
  display: inline-block;
  margin: 0;
}

.header__notification__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50% !important;
  right: 50% !important;
  /* work on transition */
  transform: translate(-50%, 0) !important;
  width: 360px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  margin-top: 14px;
  height: calc((100vh - 80px) - 8px);
  box-shadow: rgba(0, 0, 0, 0.1) -3px 4px 14px 0px;
  z-index: 1;
}

.header__notification__dropdown > h1 {
  background-color: yellow;
  display: flex;
  justify-content: center;
}
.header__messages {
  position: relative;
  display: inline-block;
  margin: 0;
}

.header__messages__sidenav {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  position: fixed;
  height: calc(100vh - 80px);
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) -3px 4px 14px 0px;
  box-sizing: border-box;
  z-index: 1;
  width: 360px;
  top: 0;
  right: 0;
  background-color: white;
  /* transition: 0.25s; */
  /* transition-property: right;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.66, 0.025, 0.33, 0.975);
  transition-delay: 0s; */
  overscroll-behavior: none;
  color: #211922;
}
.header__message__intro > h1 {
  background-color: green;
  display: flex;
  justify-content: center;
}
.header__options {
  position: relative;
  display: inline-block;
  margin: 0;
}

.header__options__dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  right: 0;
  width: 294px;
  height: 378px;
  margin-top: 14px;
  border-radius: 16px;
  z-index: 1;
}
