.pin {
  height: fit-content;
  display: inline-block;
  padding: 10px;
  margin: 0 0 10px;
}

.pin__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 236px;
  height: 354px;
}

.pin__container img {
  display: flex;
  width: 100%;
  cursor: zoom-in;
  border-radius: 16px;
  object-fit: cover;
}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.layer {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 47%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pin__container:hover .image {
  opacity: 0.7;
}
.pin__container:hover .layer {
  opacity: 1;
}

.pin__img__container > img:hover .img__buttons {
  color: #262626;
}

.pin__boards__menu {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 20px;
  position: relative;
  z-index: 1;
}

.pin__boards__menu .left {
  position: relative;
  display: inline-block;
  flex: 0.6;
  background-color: white;
  opacity: 1;
  border-radius: 12px 0px 0px 12px;
  margin: 0;
}

.pin__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50% !important;
  background-color: white;
  border-radius: 16px;
  transform: translate(-50%, 0) !important;
  width: 320px;
  height: fit-content;
  color: black;
  box-sizing: border-box;
  margin-top: 14px;
  z-index: 200;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.pin__boards__menu .right {
  display: flex;
  flex: 0.4;
  background-color: #e60023;
  opacity: 0.8;
  border-radius: 0px 12px 12px 0px;
  margin: 0;
}

.pin__boards__menuDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pin__boards__menuDetails > h1 {
  font-size: 12px;
  text-align: left;
}

.pin__dropdown__search {
  flex: 1;
  height: 48px;
  padding: 10px;
}

.pin__dropdown__searchContainer {
  display: flex;
  align-items: center;
  height: 48px;
  border: 1px solid;
  width: 100%s;
  border: none;
  background-color: #efefef;
  padding-left: 10px;
  border-radius: 50px;
}

.pin__dropdown__searchContainer:hover {
  background-color: #e2e2e2;
}

.pin__dropdown__searchContainer:active {
  outline: none;
  border-color: #93c4ff;
  box-shadow: 0 0 1px 4px #93c4ff;
}

.pin__dropdown__searchContainer:focus {
  outline: none;
  border-color: #93c4ff;
  box-shadow: 0 0 1px 4px #93c4ff;
}

.pin__dropdown__searchContainer > .MuiSvgIcon-root {
  color: #767676;
}

.pin__dropdown__searchContainer > form {
  flex: 1;
  display: flex;
}

.pin__dropdown__searchContainer > form > input {
  flex: 1;
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  font-size: 16px;
}

.pin__dropdown__searchContainer > form > input:focus {
  outline: none;
}
.pin__dropdown__searchContainer > form > input:active {
  outline: none;
}

.pin__dropdown__searchContainer > form > input:hover {
  outline: none;
}

.pin__dropdown__searchContainer > form > button {
  display: none;
}

.pin__dropdown__boardsToPick {
  display: flex;
  flex-direction: column;
  max-height: 322px;
}

.pin__dropdown__boardsToPick > p {
  text-align: left;
  color: black;
  font-size: 14px;
  padding: 10px 10px 0px 10px;
}

.boardToPick {
  display: flex;
  box-sizing: border-box;
  height: 52px;
  padding: 4px 16px;
}

.boardToPick__box {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

.boardToPick__box:hover {
  background-color: #efefef;
  border-radius: 16px;
}

.boardToPick__box:hover .boardToPick__saveButton {
  display: flex;
  align-items: center;
  background-color: #e60023;
  border-radius: 16px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 20px;
  width: 45px;
  height: 100%;
}

.boardToPick__box__details {
  display: flex;
  align-items: center;
  margin: 5px;
}

.boardToPick__box__details > p {
  font-size: 20px;
  font-weight: 700;
}

.boardToPick__box__details .image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px;
}

.boardToPick__saveButton {
  display: none;
}

.boardToPick__saveButton > p {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.pin__dropdown__createBoard {
  background-color: white;
  padding: 10px;
  display: flex;
  border-top: 1px solid #efefef;
  align-items: center;
  border-radius: 0px 0px 16px 16px;
}

.pin__dropdown__createBoard > .MuiSvgIcon-root {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  color: #e60023;
}

.pin__dropdown__createBoard > p {
  font-size: 16px;
  font-weight: bold;
}
