.pins {
  height: fit-content;
}

.pin__containerMedium {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 8px 16px 8px;
  background-color: white;
  box-sizing: border-box;
  width: 252px;
  height: 418px;
  box-sizing: border-box;
}

.pin__containerSmall {
  width: 252px;
  height: 292px;
}

.pin__containerMedium > img {
  display: flex;
  cursor: zoom-in;
  border-radius: 16px;
  object-fit: cover;
  width: 236px;
  height: 354px;
}

.pin__containerSmall > img {
  display: flex;
  cursor: zoom-in;
  border-radius: 16px;
  object-fit: cover;
  width: 236px;
  height: 236px;
}

.img__buttons {
}
.pin__img__container > img:hover .img__buttons {
  color: #262626;
}

.pin__text__container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px 6px 16px;
}

.pin__text__container p {
  color: #111;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
}
